@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Rubik&display=swap');
/*background*/

html {
  scroll-behavior: smooth;
}
.body {
  background: url(images/clouds2.jpg);
}
.wrapper {
  width: 1790px;
  margin: auto;
}
/*header*/

header {
  height: 70px;
  margin-top: 40px;
  }
nav {
  float: right;
  border-bottom: 30px;
  border-right: 100px;
}
/*hr style*/

.classic{
  color: #004900;
  margin: 30px;
}
.diamond {
  width: 10px;
  height: 10px;
  border: none;
  background: #004900;
  color: #004900;
  margin-top: 30px;
  margin-bottom: 20px;
  transform: rotate(45deg);
}
/* text */

header h1{
  font-family: Comfortaa, sans-serif;
}
header h1 a{
  text-decoration: none;
  color: #004900
}
nav a {
  text-decoration: none;
  font-family: Rubik, sans-serif;
  color: #004900;
  margin-right: 40px;
}
p,
ul,
ol,
a,
li {
  font-family: Rubik, sans-serif;
  color: #004900;
  text-decoration: none;
  font-size: 16;
  font-weight: bold;
}
a {
  color: #019601;
}
.center {
  font-family: Rubik, sans-serif;
  color: #004900;
  text-decoration: none;
  text-align: center;
}
ul {
  font-style: initial;
  list-style-type: none;
}
a:visited {color: #019601}
a:hover {color: #004900}
/* body- index */

.left-about-me {
  width: 250px;
}
.middle-me {
  width: 1200px;
  margin: 100px 45px 0px 45px;
  font-size: 35px;
  background-color: white;
  border-radius: 3.5%;
}
.left-about-me,
.middle-me {
  float:left;
}
.steven-img {
  border-radius: 50%;
  height: 115px;
  margin: 0px 0px 0px 40px;
}
/* body- about */

.about {
  background-color: white;
  border-radius: 3.5%;
  width: 1500px;
  margin: 0px 145px;
  font-size: 20px;
  padding: 20px;
}
.abt-img {
  height: 440px;
  width: auto;
}
/* footer */

.footer-main {
  font-size: 15px;
  margin-left: 300px;
}
.footer-clear {
  clear:left;
}
.contact {
  font-size: 16px;
  margin-left: 260px;
}
.contact,
.footer-main {
  height: 30px;
  font-weight:bold;
  float: left;
}
