@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Rubik&display=swap');
/*header*/

header {
  height: 100px;
  margin-top: 50px;
  }
header h1{
  font-family: Comfortaa, sans-serif;
}
header h1 a{
  text-decoration: none;
  color: #004900
}
.body {
  background: url(images/clouds2.jpg);
}
.wrapper {
	margin: auto;
  width: 350px;
}
nav {
  float: right;
  font-family: Rubik, sans-serif;
}
nav a {
  text-decoration: none;
  margin-right: 40px;
  border-right: 100px;
  color: #004900;
}
hr{
  color: #004900;
}
.diamond {
  width: 10px;
  height: 10px;
  border: none;
  background: #004900;
  color: #004900;
  margin-top: 30px;
  margin-bottom: 20px;
  transform: rotate(45deg);
}
/* text */

p,
ul,
ol {
  font-family: Rubik, sans-serif;
  color: #004900;
  text-decoration: none;
}
ol {
  
}
.center {
  font-family: Rubik, sans-serif;
  color: #004900;
  text-decoration: none;
  text-align: center;
}
.side {
  font-family: 
}
ul {
  margin: auto;
  width: 350px;
  font-style: initial;
}
 a:visited {color: #004900}

/* body- index */

.left-about-me {
  width: 250px;
  margin-left: 50px;
}
.middle-me {
  width: 1200px;
  margin-top: 100px;
  margin-left: 45px;
  font-size: 35px;
  background-color: white;
  border-radius: 3.5%;
}
.left-about-me,
.middle-me {
  float:left;
}
.steven-img {
  border-radius: 50%;
  height: 115px;
  margin: 0px 0px 0px 40px;
}
/* body- about */

.about {
  background-color: white;
  border-radius: 3.5%;
  width: 1500px;
  margin-left: 200px;
  font-size: 20px;
}
.screen-img {
  height: 440px;
  width: auto;
  

}
/* footer */

footer {
  height: 80px;
  font-size: 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer-margin {
  height: 30px;
  width: auto;
}
